<div class="container-fluid bg-info text-white pt-3 pb-1">
    <div class="text-center">
        <h2>  <button class="btn btn-outline-light"> <a href="/" class="text-dark"> Home </a> </button>  ToDo Simple application</h2>
        <h5>By Using basic CRUD operation </h5>
        <p>Node Js MongoDb Express </p>
    </div>
</div>